*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: bisque;
    overflow: auto;
}

body{
    background-color: rgba(255, 255, 255, 0.452);
    width: 80%;
    margin: 0 auto;
    min-height: 600px;
    padding: 0 30px 10px;
    border: 2px solid black;
    overflow: auto;
}

header {
    background-image: url('../images/sports.webp');
    background-size: 100% 100%;
    height: 300px;
    opacity: 0.8;
}

h1{
    color: #0a0a07;
    padding: 50px;
    position: absolute;
    left:35%;
    top: 200px;
    font-size: 15px;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: rgb(247, 254, 255);
}

nav > ul > li{
    width: 33.3%; 
    float: left;
    text-align: center;
    line-height: 30px; 
    border: 1px solid rgb(241, 152, 152);
    border-radius: 10px 10px 0 0; 
    overflow: auto;
}

ul > li > a {
    display: block; 
    text-decoration: none; 
}

ul>li>a:hover{
    background-color: rgb(228, 191, 112);
    color: white;
    border-radius: 10px 10px 0 0;
}

footer {
    clear: both;
    text-align: center;
}

article.pag1{
    overflow: auto;
    float: left;
    clear: left;
    width: 100%;
    padding: 10px;
}

.sectionA {
    width: 100%;
    float: left;
    padding: 5px;
    clear: left;
}

.sectionB {
    width:35%;
    float: right;   
    top: 25px;
    background-color: rgba(236, 216, 188, 0.959);
    min-height: 650px;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

#image_target {
    position: relative;
    left: 30px;
    width: 250px;
}

.sectionA{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 200px;
}

[class^="div"]{
    padding: 5px;
}

iframe {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

/* Forms page 3 */

fieldset {
    padding: 7px;
    margin: 15px;
}

legend {
    padding: 5px;
    background-color: rgb(241, 207, 161);
    color: black;
    border-radius: 5px;
}

fieldset > div {
    display: flex;
    flex-flow: row wrap;
}

fieldset > div.flex > * {
    flex: 1 1 100px
}

#radio { 
    float: right;
}

input[type="submit"], input[type="reset"] {
    margin: 5px 2%;
    width: 45%;
}

/* Responsive */

@media only screen and (min-width: 700px) {

    .sectionA {
        width: 100%;
        float: left;
        padding: 5px;
        clear: left;
    }
    
    .sectionB {
        display: none;
    }

    h1{
        color: #0a0a07;
        padding: 50px;
        position: absolute;
        left: 37%;
        top: 195px;
        font-size:x-large;
    }

    iframe {
        width: 400px;
        height: 300px;
    } 

}

@media only screen and (min-width: 905px){

    .sectionA {
        width: 65%;
        float: left;
        padding: 5px;
        clear: left;
    }

    .sectionA > .div4 {
        display: none;
    }

    #image_target {
        position: relative;
        left: 5px;
        width: 200px;
    }

    .sectionB {
        display: block;
    }

    h1{
        color: #0a0a07;
        padding: 50px;
        position: absolute;
        left: 40%;
        top: 195px;
        font-size: xx-large;
    }

    iframe {
        width: 400px;
        height: 300px;
    } 
}


@media only screen and (min-width: 989px){

    .sectionA {
        width: 65%;
        float: left;
        padding: 5px;
        clear: left;
    }
    
    .sectionA > .div4 {
        display: none;
    }

    #image_target {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .sectionB {
        display: block;
    }

    h1{
        color: #0a0a07;
        padding: 50px;
        position: absolute;
        left: 40%;
        top: 195px;
        font-size: xx-large;
    }

    iframe {
        width: 400px;
        height: 300px;
    } 
}
